## Database exploration

In [1]:
#Load extention and connect to database
%load_ext sql
%sql sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db

'Connected: @/dsa/data/DSA-7030/cc23_7030.sqlite.db'

### Exploring the SQLite Tables

In [2]:
%%sql
SELECT distinct m.type, m.tbl_name --m.sql
FROM sqlite_master AS m,
     pragma_table_info(m.name) AS t
WHERE m.type = 'table'
order by m.name, t.pk DESC

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[('table', 'cc23_case_location'),
 ('table', 'cc23_cases'),
 ('table', 'cc23_fbi_nibrs_categories'),
 ('table', 'cc23_fbi_nibrs_offense_categories'),
 ('table', 'cc23_iucr_codes'),
 ('table', 'cc23_iucr_codes_primary_descriptions'),
 ('table', 'cc23_iucr_codes_secondary_descriptions'),
 ('table', 'cc23_nibrs_crimes_against'),
 ('table', 'cc23_nibrs_fbicode_offenses'),
 ('table', 'cc23_nibrs_offenses_crimes_aginst')]

### Exploring Column Details

In [3]:
%%sql 
SELECT m.tbl_name, t.* --m.sql
 FROM pragma_table_info(m.tbl_name) t, sqlite_master m WHERE m.type='table';

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[('cc23_iucr_codes', 0, 'iucr_code', 'varchar(10)', 0, None, 1),
 ('cc23_iucr_codes', 1, 'iucr_index_code', 'char', 0, None, 0),
 ('cc23_iucr_codes_primary_descriptions', 0, 'iucr_code', 'varchar(10)', 0, None, 1),
 ('cc23_iucr_codes_primary_descriptions', 1, 'iucr_primary_desc', 'varchar(100)', 0, None, 0),
 ('cc23_iucr_codes_secondary_descriptions', 0, 'iucr_code', 'varchar(10)', 0, None, 1),
 ('cc23_iucr_codes_secondary_descriptions', 1, 'iucr_secondary_desc', 'varchar(100)', 0, None, 0),
 ('cc23_fbi_nibrs_categories', 0, 'fbi_nibrs_category_name', 'varchar(50)', 0, None, 1),
 ('cc23_fbi_nibrs_offense_categories', 0, 'nibrs_offense_code', 'varchar(10)', 1, None, 1),
 ('cc23_fbi_nibrs_offense_categories', 1, 'fbi_nibrs_category_name', 'varchar(50)', 0, None, 0),
 ('cc23_nibrs_crimes_against', 0, 'nibrs_crime_against', 'varchar(20)', 1, None, 1),
 ('cc23_cases', 0, 'case_number', 'varchar(20)', 0, None, 1),
 ('cc23_cases', 1, 'incident_date', 'timestamp', 0, None, 0),
 ('cc23_cases', 2, 'iucr_code', 'varchar(10)', 0, None, 0),
 ('cc23_cases', 3, 'nibrs_fbi_offense_code', 'varchar(10)', 0, None, 0),
 ('cc23_cases', 4, 'arrest', 'boolean', 0, None, 0),
 ('cc23_cases', 5, 'domestic', 'boolean', 0, None, 0),
 ('cc23_cases', 6, 'updated_on', 'timestamp', 0, None, 0),
 ('cc23_nibrs_fbicode_offenses', 0, 'nibrs_offense_code', 'varchar(10)', 1, None, 1),
 ('cc23_nibrs_fbicode_offenses', 1, 'nibrs_offense_name', 'varchar(100)', 1, None, 0),
 ('cc23_nibrs_offenses_crimes_aginst', 0, 'nibrs_crime_against', 'varchar(20)', 0, None, 1),
 ('cc23_nibrs_offenses_crimes_aginst', 1, 'nibrs_offense_code', 'varchar(10)', 1, None, 2),
 ('cc23_case_location', 0, 'case_number', 'varchar(20)', 0, None, 1),
 ('cc23_case_location', 1, 'block', 'varchar(100)', 0, None, 0),
 ('cc23_case_location', 2, 'location_description', 'varchar(100)', 0, None, 0),
 ('cc23_case_location', 3, 'community_area', 'integer', 0, None, 0),
 ('cc23_case_location', 4, 'ward', 'integer', 0, None, 0),
 ('cc23_case_location', 5, 'district', 'integer', 0, None, 0),
 ('cc23_case_location', 6, 'beat', 'integer', 0, None, 0),
 ('cc23_case_location', 7, 'latitude', 'real', 0, None, 0),
 ('cc23_case_location', 8, 'longitude', 'real', 0, None, 0)]

# SQL create table statements

In [ ]:
# cc23_case_location

CREATE TABLE asubv5.cc23_case_location (
    case_number varchar(20) unique,
    block varchar(100),
    location_description varchar(100),
    community_area integer,
    ward integer,
    district integer,
    beat integer,
    latitude real,
    longitude real,
    PRIMARY KEY (case_number)
);

In [ ]:
# cc23_cases

CREATE TABLE asubv5.cc23_cases (
    case_number varchar(20) unique,
    incident_date timestamp,
    iucr_code varchar(10),
    nibrs_fbi_offense_code varchar(10),
    arrest boolean,
    domestic boolean,
    updated_on timestamp,
    PRIMARY KEY (case_number),
    FOREIGN KEY (iucr_code) REFERENCES asubv5.cc23_iucr_codes(iucr_code),
    FOREIGN KEY (nibrs_fbi_offense_code) REFERENCES asubv5.cc23_nibrs_fbicode_offenses(nibrs_offense_code),
    FOREIGN KEY (case_number) REFERENCES asubv5.cc23_case_location(case_number)
);

In [ ]:
# cc23_fbi_nibrs_categories

CREATE TABLE asubv5.cc23_fbi_nibrs_categories (
    fbi_nibrs_category_name varchar(50) PRIMARY KEY
);

In [ ]:
# cc23_fbi_nibrs_offense_categories

CREATE TABLE asubv5.cc23_fbi_nibrs_offense_categories (
    nibrs_offense_code varchar(10) NOT NULL,
    fbi_nibrs_category_name varchar(50),
    PRIMARY KEY (nibrs_offense_code),
    FOREIGN KEY (fbi_nibrs_category_name) REFERENCES asubv5.cc23_fbi_nibrs_categories(fbi_nibrs_category_name)
);

In [ ]:
# cc23_iucr_codes

CREATE TABLE asubv5.cc23_iucr_codes (
iucr_code varchar(10) unique,
iucr_index_code char,
PRIMARY KEY (iucr_code)
);

In [ ]:
# cc23_iucr_codes_primary_descriptions

CREATE TABLE asubv5.cc23_iucr_codes_primary_descriptions (
iucr_code varchar(10),
iucr_primary_desc varchar(100),
PRIMARY KEY (iucr_code),
FOREIGN KEY (iucr_code) REFERENCES asubv5.cc23_iucr_codes(iucr_code) # good
);

In [ ]:
# cc23_iucr_codes_secondary_descriptions

CREATE TABLE asubv5.cc23_iucr_codes_secondary_descriptions (
iucr_code varchar(10),
iucr_secondary_desc varchar(100),
PRIMARY KEY (iucr_code),
FOREIGN KEY (iucr_code) REFERENCES asubv5.cc23_iucr_codes(iucr_code) # good
);

In [ ]:
# cc23_nibrs_crimes_against

CREATE TABLE asubv5.cc23_nibrs_crimes_against (
nibrs_crime_against varchar(20) unique NOT NULL,
PRIMARY KEY (nibrs_crime_against)
);

In [ ]:
# cc23_nibrs_fbicode_offenses

CREATE TABLE asubv5.cc23_nibrs_fbicode_offenses (
nibrs_offense_code varchar(10) unique NOT NULL,
nibrs_offense_name varchar(100) NOT NULL,
PRIMARY KEY (nibrs_offense_code),
FOREIGN KEY (nibrs_offense_code) REFERENCES asubv5.cc23_fbi_nibrs_offense_categories(nibrs_offense_code)
);

In [ ]:
# cc23_nibrs_offenses_crimes_aginst

CREATE TABLE asubv5.cc23_nibrs_offenses_crimes_aginst (
nibrs_crime_against varchar(20),
nibrs_offense_code varchar(10) NOT NULL,
PRIMARY KEY (nibrs_crime_against,nibrs_offense_code),
FOREIGN KEY (nibrs_crime_against) REFERENCES asubv5.cc23_nibrs_crimes_against(nibrs_crime_against),
FOREIGN KEY (nibrs_offense_code) REFERENCES asubv5.cc23_nibrs_fbicode_offenses(nibrs_offense_code)
);

# Connection to my postgres database

In [ ]:
# connection
import getpass
mypasswd = getpass.getpass()
username = 'asubv5'
host = 'pgsql.dsa.lan'
database = 'dsa_student'

In [2]:
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine

postgres_db = {'drivername': 'postgres',
               'username': username,
               'password': mypasswd,
               'host': host,
               'database' :database}
engine = create_engine(URL(**postgres_db), echo=True)

In [ ]:
# Drop tables

In [ ]:
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_case_location CASCADE;')
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_cases CASCADE;')
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_fbi_nibrs_offense_categories CASCADE;')
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_fbi_nibrs_categories CASCADE;')
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_iucr_codes CASCADE;')
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_iucr_codes_primary_descriptions CASCADE;')
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_iucr_codes_secondary_descriptions CASCADE;')
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_nibrs_crimes_against CASCADE;')
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_nibrs_fbicode_offenses CASCADE;')
engine.execute('DROP TABLE IF EXISTS asubv5.cc23_nibrs_offenses_crimes_aginst CASCADE;')

# Implementing tables in my database

In [3]:
sql = """
CREATE TABLE asubv5.cc23_iucr_codes (
iucr_code varchar(10) unique,
iucr_index_code char,
PRIMARY KEY (iucr_code)
);
"""
engine.execute(sql)

2023-12-05 12:53:14,159 INFO sqlalchemy.engine.base.Engine select version()
2023-12-05 12:53:14,160 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:14,163 INFO sqlalchemy.engine.base.Engine select current_schema()
2023-12-05 12:53:14,163 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:14,166 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2023-12-05 12:53:14,166 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:14,168 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2023-12-05 12:53:14,168 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:14,169 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2023-12-05 12:53:14,170 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:14,171 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_iucr_codes (
iucr_code varchar(10) unique,
iucr_index_code char,
PRIMARY KEY (iucr_code)
);

2023-12-05 12:53:14,172 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:14,184 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
sql = """
CREATE TABLE asubv5.cc23_fbi_nibrs_categories (
    fbi_nibrs_category_name varchar(50) PRIMARY KEY
);
"""
engine.execute(sql)

2023-12-05 12:53:15,896 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_fbi_nibrs_categories (
    fbi_nibrs_category_name varchar(50) PRIMARY KEY
);

2023-12-05 12:53:15,897 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:15,904 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
sql = """
CREATE TABLE asubv5.cc23_nibrs_crimes_against (
nibrs_crime_against varchar(20) unique NOT NULL,
PRIMARY KEY (nibrs_crime_against)
);
"""
engine.execute(sql)

2023-12-05 12:53:19,088 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_nibrs_crimes_against (
nibrs_crime_against varchar(20) unique NOT NULL,
PRIMARY KEY (nibrs_crime_against)
);

2023-12-05 12:53:19,089 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:19,094 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
sql = """
CREATE TABLE asubv5.cc23_iucr_codes_primary_descriptions (
iucr_code varchar(10),
iucr_primary_desc varchar(100),
PRIMARY KEY (iucr_code),
FOREIGN KEY (iucr_code) REFERENCES asubv5.cc23_iucr_codes(iucr_code)
);
"""
engine.execute(sql)

2023-12-05 12:53:20,140 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_iucr_codes_primary_descriptions (
iucr_code varchar(10),
iucr_primary_desc varchar(100),
PRIMARY KEY (iucr_code),
FOREIGN KEY (iucr_code) REFERENCES asubv5.cc23_iucr_codes(iucr_code)
);

2023-12-05 12:53:20,141 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:20,151 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
sql = """
CREATE TABLE asubv5.cc23_iucr_codes_secondary_descriptions (
iucr_code varchar(10),
iucr_secondary_desc varchar(100),
PRIMARY KEY (iucr_code),
FOREIGN KEY (iucr_code) REFERENCES asubv5.cc23_iucr_codes(iucr_code)
);

"""
engine.execute(sql)

2023-12-05 12:53:21,275 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_iucr_codes_secondary_descriptions (
iucr_code varchar(10),
iucr_secondary_desc varchar(100),
PRIMARY KEY (iucr_code),
FOREIGN KEY (iucr_code) REFERENCES asubv5.cc23_iucr_codes(iucr_code)
);


2023-12-05 12:53:21,276 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:21,285 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
sql = """
CREATE TABLE asubv5.cc23_case_location (
    case_number varchar(20) unique,
    block varchar(100),
    location_description varchar(100),
    community_area integer,
    ward integer,
    district integer,
    beat integer,
    latitude real,
    longitude real,
    PRIMARY KEY (case_number)
);
"""
engine.execute(sql)

2023-12-05 12:53:22,313 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_case_location (
    case_number varchar(20) unique,
    block varchar(100),
    location_description varchar(100),
    community_area integer,
    ward integer,
    district integer,
    beat integer,
    latitude real,
    longitude real,
    PRIMARY KEY (case_number)
);

2023-12-05 12:53:22,314 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:22,320 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
sql = """
CREATE TABLE asubv5.cc23_fbi_nibrs_offense_categories (
    nibrs_offense_code varchar(10) NOT NULL,
    fbi_nibrs_category_name varchar(50),
    PRIMARY KEY (nibrs_offense_code),
    FOREIGN KEY (fbi_nibrs_category_name) REFERENCES asubv5.cc23_fbi_nibrs_categories(fbi_nibrs_category_name)
);
"""
engine.execute(sql)

2023-12-05 12:53:23,300 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_fbi_nibrs_offense_categories (
    nibrs_offense_code varchar(10) NOT NULL,
    fbi_nibrs_category_name varchar(50),
    PRIMARY KEY (nibrs_offense_code),
    FOREIGN KEY (fbi_nibrs_category_name) REFERENCES asubv5.cc23_fbi_nibrs_categories(fbi_nibrs_category_name)
);

2023-12-05 12:53:23,301 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:23,310 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
sql = """
CREATE TABLE asubv5.cc23_nibrs_fbicode_offenses (
nibrs_offense_code varchar(10) unique NOT NULL,
nibrs_offense_name varchar(100) NOT NULL,
PRIMARY KEY (nibrs_offense_code),
FOREIGN KEY (nibrs_offense_code) REFERENCES asubv5.cc23_fbi_nibrs_offense_categories(nibrs_offense_code)
);
"""
engine.execute(sql)

2023-12-05 12:53:24,300 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_nibrs_fbicode_offenses (
nibrs_offense_code varchar(10) unique NOT NULL,
nibrs_offense_name varchar(100) NOT NULL,
PRIMARY KEY (nibrs_offense_code),
FOREIGN KEY (nibrs_offense_code) REFERENCES asubv5.cc23_fbi_nibrs_offense_categories(nibrs_offense_code)
);

2023-12-05 12:53:24,301 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:53:24,310 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
sql = """
CREATE TABLE asubv5.cc23_nibrs_offenses_crimes_aginst (
nibrs_crime_against varchar(20),
nibrs_offense_code varchar(10) NOT NULL,
PRIMARY KEY (nibrs_crime_against,nibrs_offense_code),
FOREIGN KEY (nibrs_crime_against) REFERENCES asubv5.cc23_nibrs_crimes_against(nibrs_crime_against),
FOREIGN KEY (nibrs_offense_code) REFERENCES asubv5.cc23_nibrs_fbicode_offenses(nibrs_offense_code)
);
"""
engine.execute(sql)

2023-12-05 12:55:48,759 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_nibrs_offenses_crimes_aginst (
nibrs_crime_against varchar(20),
nibrs_offense_code varchar(10) NOT NULL,
PRIMARY KEY (nibrs_crime_against,nibrs_offense_code),
FOREIGN KEY (nibrs_crime_against) REFERENCES asubv5.cc23_nibrs_crimes_against(nibrs_crime_against),
FOREIGN KEY (nibrs_offense_code) REFERENCES asubv5.cc23_nibrs_fbicode_offenses(nibrs_offense_code)
);

2023-12-05 12:55:48,760 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:55:48,813 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
sql = """
CREATE TABLE asubv5.cc23_cases (
    case_number varchar(20) unique,
    incident_date timestamp,
    iucr_code varchar(10),
    nibrs_fbi_offense_code varchar(10),
    arrest boolean,
    domestic boolean,
    updated_on timestamp,
    PRIMARY KEY (case_number),
    FOREIGN KEY (iucr_code) REFERENCES asubv5.cc23_iucr_codes(iucr_code),
    FOREIGN KEY (nibrs_fbi_offense_code) REFERENCES asubv5.cc23_nibrs_fbicode_offenses(nibrs_offense_code),
    FOREIGN KEY (case_number) REFERENCES asubv5.cc23_case_location(case_number)
);
"""
engine.execute(sql)

2023-12-05 12:55:51,725 INFO sqlalchemy.engine.base.Engine
CREATE TABLE asubv5.cc23_cases (
    case_number varchar(20) unique,
    incident_date timestamp,
    iucr_code varchar(10),
    nibrs_fbi_offense_code varchar(10),
    arrest boolean,
    domestic boolean,
    updated_on timestamp,
    PRIMARY KEY (case_number),
    FOREIGN KEY (iucr_code) REFERENCES asubv5.cc23_iucr_codes(iucr_code),
    FOREIGN KEY (nibrs_fbi_offense_code) REFERENCES asubv5.cc23_nibrs_fbicode_offenses(nibrs_offense_code),
    FOREIGN KEY (case_number) REFERENCES asubv5.cc23_case_location(case_number)
);

2023-12-05 12:55:51,726 INFO sqlalchemy.engine.base.Engine {}
2023-12-05 12:55:51,734 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
# Some imports

import pandas as pd
import numpy as np
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine

### Database connections

In [3]:
# Connecting to the sqlite database
engine=create_engine('sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db', encoding ='utf-8')

In [1]:
# Connecting to postgres database
import getpass
mypasswd = getpass.getpass()
username = 'asubv5'
host = 'pgsql.dsa.lan'
database = 'dsa_student'

········

In [4]:
postgres_db = {'drivername': 'postgres',
               'username': username,
               'password': mypasswd,
               'host': host,
               'database' :database}
newengine = create_engine(URL(**postgres_db), echo=False)

### Fetching and inserting data

In [ ]:
# cc23_iucr_codes

In [9]:
cc23_iucr_codes = pd.read_sql_query('select * from cc23_iucr_codes;', engine)

In [11]:
cc23_iucr_codes.to_sql('cc23_iucr_codes',
            newengine,
            schema = 'asubv5',
            if_exists = 'append',
            index = False)

In [ ]:
# cc23_iucr_codes_primary_descriptions

In [12]:
cc23_iucr_codes_primary_descriptions = pd.read_sql_query('select * from cc23_iucr_codes_primary_descriptions;', engine)

In [13]:
cc23_iucr_codes_primary_descriptions.to_sql('cc23_iucr_codes_primary_descriptions',
            newengine,
            schema = 'asubv5',
            if_exists = 'append',
            index = False)

In [ ]:
# cc23_iucr_codes_secondary_descriptions

In [14]:
cc23_iucr_codes_secondary_descriptions = pd.read_sql_query('select * from cc23_iucr_codes_secondary_descriptions;', engine)

In [15]:
cc23_iucr_codes_secondary_descriptions.to_sql('cc23_iucr_codes_secondary_descriptions',
            newengine,
            schema = 'asubv5',
            if_exists = 'append',
            index = False)

In [ ]:
# cc23_fbi_nibrs_categories

In [16]:
cc23_fbi_nibrs_categories = pd.read_sql_query('select * from cc23_fbi_nibrs_categories;', engine)

In [17]:
cc23_fbi_nibrs_categories.to_sql('cc23_fbi_nibrs_categories',
            newengine,
            schema = 'asubv5',
            if_exists = 'append',
            index = False)

In [ ]:
# cc23_nibrs_crimes_against

In [18]:
cc23_nibrs_crimes_against = pd.read_sql_query('select * from cc23_nibrs_crimes_against;', engine)

In [19]:
cc23_nibrs_crimes_against.to_sql('cc23_nibrs_crimes_against',
            newengine,
            schema = 'asubv5',
            if_exists = 'append',
            index = False)

In [ ]:
# cc23_fbi_nibrs_offense_categories

In [20]:
cc23_fbi_nibrs_offense_categories = pd.read_sql_query('select * from cc23_fbi_nibrs_offense_categories;', engine)

In [21]:
cc23_fbi_nibrs_offense_categories.to_sql('cc23_fbi_nibrs_offense_categories',
            newengine,
            schema = 'asubv5',
            if_exists = 'append',
            index = False)

In [ ]:
# cc23_nibrs_fbicode_offenses

In [22]:
cc23_nibrs_fbicode_offenses = pd.read_sql_query('select * from cc23_nibrs_fbicode_offenses;', engine)

In [23]:
cc23_nibrs_fbicode_offenses.to_sql('cc23_nibrs_fbicode_offenses',
            newengine,
            schema = 'asubv5',
            if_exists = 'append',
            index = False)

In [ ]:
# cc23_nibrs_offenses_crimes_aginst

In [24]:
cc23_nibrs_offenses_crimes_aginst = pd.read_sql_query('select * from cc23_nibrs_offenses_crimes_aginst;', engine)

In [25]:
cc23_nibrs_offenses_crimes_aginst.to_sql('cc23_nibrs_offenses_crimes_aginst',
            newengine,
            schema = 'asubv5',
            if_exists = 'append',
            index = False)

In [ ]:
# cc23_case_location

In [5]:
table_name = 'cc23_case_location'
schema_name = 'asubv5'
chunk_size = 50000 
total_rows = pd.read_sql_query(f'SELECT COUNT(*) as count FROM {table_name};', engine)['count'][0]

for offset in range(0, total_rows, chunk_size):
    query = f'SELECT * FROM {table_name} LIMIT {chunk_size} OFFSET {offset};'
    chunk = pd.read_sql_query(query, engine)
    
    chunk.to_sql(table_name, newengine, schema=schema_name, if_exists='append', index=False, method='multi')

In [ ]:
# cc23_cases

In [7]:
table_name = 'cc23_cases'
schema_name = 'asubv5'
chunk_size = 50000 
total_rows = pd.read_sql_query(f'SELECT COUNT(*) as count FROM {table_name};', engine)['count'][0]

for offset in range(0, total_rows, chunk_size):
    query = f'SELECT * FROM {table_name} LIMIT {chunk_size} OFFSET {offset};'
    chunk = pd.read_sql_query(query, engine)
    
    chunk['arrest'] = chunk['arrest'].astype(bool)
    chunk['domestic'] = chunk['domestic'].astype(bool)
    
    chunk.to_sql(table_name, newengine, schema=schema_name, if_exists='append', index=False, method='multi')

### Random test code (Ignore)

In [ ]:
# Fetching data from tables in the sqlite database

# case_location = pd.read_sql_query("SELECT * FROM cc23_case_location limit 1000;", engine)

# with engine.connect() as conn, conn.begin():
#      data = pd.concat(pd.read_sql_table("cc23_case_location", conn, chunksize = 5000))

In [ ]:
# chunk_size = 500
# chunks = []

# Using a loop to read and concatenate data in chunks
# for chunk in pd.read_sql_table('cc23_case_location', engine, chunksize=chunk_size):
#     chunks.append(chunk)

# Concatenate all chunks into a single DataFrame
#data = pd.concat(chunks, ignore_index=True)

In [ ]:
# sql = 'SELECT * FROM cc23_case_location;'
# case_location = pd.concat(pd.read_sql(sql, engine, chunksize=5000))

# Comparing row counts from SQlite database and Postgres

In [ ]:
# cc23_case_location

In [15]:
%%sql
select count(*) from cc23_case_location;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(7932599,)]

In [15]:
sql = 'select count(*) from cc23_case_location;'
newengine.execute(sql).fetchall()

[(7932599,)]

In [ ]:
# cc23_cases

In [16]:
%%sql
select count(*) from cc23_cases;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(7932599,)]

In [16]:
sql = 'select count(*) from cc23_cases;'
newengine.execute(sql).fetchall()

[(7932599,)]

In [ ]:
# cc23_iucr_codes

In [18]:
%%sql
select count(*) from cc23_iucr_codes;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(420,)]

In [17]:
sql = 'select count(*) from cc23_iucr_codes;'
newengine.execute(sql).fetchall()

[(420,)]

In [ ]:
# cc23_iucr_codes_primary_descriptions

In [19]:
%%sql
select count(*) from cc23_iucr_codes_primary_descriptions;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(420,)]

In [18]:
sql = 'select count(*) from cc23_iucr_codes_primary_descriptions;'
newengine.execute(sql).fetchall()

[(420,)]

In [ ]:
# cc23_iucr_codes_secondary_descriptions

In [20]:
%%sql
select count(*) from cc23_iucr_codes_secondary_descriptions;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(420,)]

In [19]:
sql = 'select count(*) from cc23_iucr_codes_secondary_descriptions;'
newengine.execute(sql).fetchall()

[(420,)]

In [ ]:
# cc23_nibrs_fbicode_offenses

In [21]:
%%sql
select count(*) from cc23_nibrs_fbicode_offenses;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(91,)]

In [20]:
sql = 'select count(*) from cc23_nibrs_fbicode_offenses;'
newengine.execute(sql).fetchall()

[(91,)]

In [ ]:
# cc23_fbi_nibrs_offense_categories

In [22]:
%%sql
select count(*) from cc23_fbi_nibrs_offense_categories;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(91,)]

In [21]:
sql = 'select count(*) from cc23_fbi_nibrs_offense_categories;'
newengine.execute(sql).fetchall()

[(91,)]

In [ ]:
# cc23_nibrs_offenses_crimes_aginst

In [23]:
%%sql
select count(*) from cc23_nibrs_offenses_crimes_aginst;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(90,)]

In [22]:
sql = 'select count(*) from cc23_nibrs_offenses_crimes_aginst;'
newengine.execute(sql).fetchall()

[(90,)]

In [ ]:
# cc23_fbi_nibrs_categories

In [24]:
%%sql
select count(*) from cc23_fbi_nibrs_categories;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(36,)]

In [24]:
sql = 'select count(*) from cc23_fbi_nibrs_categories;'
newengine.execute(sql).fetchall()

[(36,)]

In [ ]:
# cc23_nibrs_crimes_against

In [25]:
%%sql
select count(*) from cc23_nibrs_crimes_against;

 * sqlite:////dsa/data/DSA-7030/cc23_7030.sqlite.db
Done.

[(4,)]

In [23]:
sql = 'select count(*) from cc23_nibrs_crimes_against;'
newengine.execute(sql).fetchall()

[(4,)]